.artist-name {
  font-size: 60px;
  padding-left: 10px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.artist-name-header {
  display: flex;
  padding-left: 20px;
}

.artist-description {
  padding: 0px 20px 50px 20px;
}
