.main-content {
  display: flex;
  justify-content: center;
}

.menu-select-button {
  width: 150px;
  height: 150px;
  margin: 0px 20px 0px 20px;
}

.prompt {
  font-size: 35px;
  padding-top: 3%;
  padding-bottom: 20%;
}
