<div class="title">Discover your favorite Artists, Albums and Songs</div>
<div class="prompt">
  Make a selection to start browsing Artists, Albums and Songs
</div>

<div class="main-content">
  <button
    class="menu-select-button"
    [routerLink]="['/artists']"
    mat-raised-button
  >
    <img class="menu-select-button-icon" src="../../../assets/artist.svg" />
    Artist
  </button>
  <button
    class="menu-select-button"
    [routerLink]="['/albums']"
    mat-raised-button
  >
    <img class="menu-select-button-icon" src="../../../assets/album.svg" />
    Album
  </button>
  <button
    class="menu-select-button"
    [routerLink]="['/songs']"
    mat-raised-button
  >
    <img class="menu-select-button-icon" src="../../../assets/song.svg" />
    Song
  </button>
</div>
