<div class="search-and-sorting-controls">
  <form class="search-field">
    <mat-form-field class="search-bar">
      <mat-label>Search</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput type="text" [(ngModel)]="searchQuery" name="search" />
    </mat-form-field>
  </form>
  <mat-form-field appearance="fill">
    <mat-label>Sort by</mat-label>
    <mat-select [(value)]="selected" (selectionChange)="sort()">
      <mat-option value="1">Ascending (A-Z)</mat-option>
      <mat-option value="2">Descending (Z-A)</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="!checkTypeIsSong(); else songList">
  <div class="item-list">
    <div *ngFor="let item of inputArray">
      <mat-card class="item-card" (click)="navigateToPage(item)"
        ><div class="item-name">{{ item.name }}</div></mat-card
      >
    </div>
  </div>
</div>

<ng-template #songList>
  <div class="song-list">
    <div *ngFor="let item of inputArray">
      <mat-card class="song-card" (click)="navigateToPage(item)"
        ><div class="song-info">{{ item.track }} - {{ item.name }}</div>
        <div class="play-song-button">
          <img src="../../../assets/play-song.svg" alt="" />
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>
