.item-list {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: auto;
}

.item-card {
  width: 100px;
  height: 100px;
  margin: 10px 20px 10px 20px;
}

.search-and-sorting-controls {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}

.search-bar {
  padding-left: 20px;
}
