.item-list {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: auto;
}

.song-card {
  width: 80%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.play-song-button img {
  height: 40px;
  width: 40px;
}

.song-info {
  font-weight: bold;
}

.item-card {
  width: 100px;
  height: 100px;
  margin: 10px 20px 10px 20px;
}

.search-and-sorting-controls {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}

.search-bar {
  padding-left: 20px;
}
