.album-name {
  font-size: 60px;
  padding-top: 5px;
  padding-left: 22px;
}

.album-icon {
  height: 70px;
  width: 70px;
  padding-top: 1%;
}

.album-release-date {
  font-size: 20px;
  padding-left: 156px;
}

.album-name-header {
  display: flex;
  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 5px;
  align-items: center;
}

.album-description {
  padding: 30px 20px 30px 20px;
}
